{% extends 'base.html.twig' %}

{% block body %}


<div class="container">
<table  border ="1"class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Email</th>
      <th scope="col">Age</th>
    <th scope="col">Classe</th>
    <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    {%for i in student %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.name}}</td>
      <td>{{i.email}}</td>
      <td>{{i.age}}</td>
      <td>{{i.st.name}}</td>
        <td>
        <a class="btn btn-warning" href="{{path('update',{'id':i.id})  }}">update</a>
    <a class="btn btn-danger" href="{{path('delete',{'id':i.id})  }}">delete</a>
    <br>



    </tr>
{% endfor %}

  </tbody>
</table>
<a class="btn btn-danger" href="{{path('addS')}}">Add </a>

</div>

{% endblock %}